


#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

.picture {
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}
